
body {
  background-color: #999999;
  background-image: url(background.jpg);
}


#wrapper {
  margin: 1em auto;
  padding: 0px;
  width: 850px;
  border: 4px solid #1300E6;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


header {
  grid-column: span 3;
  padding-left: 40px;
  font-family: ariel, Helvetica, sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom, #4a8df1, #2875ef, #035ce9, #063fe0, #2515d3);
  font-style: italic;
}

header a {
  text-decoration: none;
  color: #769bf2;
}

header a:hover{
  color: red;
}

nav {
  grid-column: span 3;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #004dbf, #0044c6, #0039cc, #092cd0, #2515d3);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 209px;
  display: inline-block;
  margin: 0;
}

nav li a {
  display: block;
  background-image: linear-gradient(to bottom, #2878ed, #0465ea, #0050e5, #0838dd, #2515d3);
  border: 0px solid black;
  padding: 10px;
  color: #9FB8DB;
  text-decoration: none;
  font-family: ariel, Helvetica, sans-serif;
  padding-left: 25px;
  font-weight: bold;
}

main a{
  text-decoration: none;
  color: red;
  font-weight: bold;
}

main a:hover{
  color: blue;
  text-decoration: underline;
}

nav li a:hover {
  background-image: linear-gradient(to bottom, #830303, #803b00, #705d00, #547a00, #00943c);
}


main {
  grid-column: span 3;
  padding: 1em;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

main h2 {
  border-bottom: 3px solid blue;
  color: #5143EE;
  margin-top: 25px;
  margin-right: 15px;
  padding-bottom: 5px;
  font-family: Georgia;
}


main img {
  width: 240px;
  border: 2px solid blue;
  margin-right: 15px;
}

footer {
  background-color: red;
  grid-column: span 3;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 4px solid #1300E6;
}
