p {
  color: #000000;
}

h1 {
  color: #FFFFF;
  background-color: #99EAF0;
}

h2 {
  color: #5475F7;
}

h3 {
  background-color: #FFFF0A;
}

h4 {
  color: #E0E046;
  background-color: #179967;
}

#divwow {
  color: #FFFFFF;
  background-color: #99EAF0;
}

.notdivthe2 {
  color: #DBA758;
}

#theDD {
  color: #9D48F7;
}


.highlight {
  background-color: #48F7B4;
}

.thered {
  color: #FF0A0A;
}

.fancy {
  color: #DA1818;
  background-color: #18D0DA;
}

a:link {
 color: #1A782D;
}

a:visited {
 color: #3FBF3F;
}

a:hover {
 color: #F09999;
}

footer {
  color: #a52a2a;
  background-color #AED0EE:
}
