@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#wrapper {
  margin: 1em auto;
  width: 1200px;
  padding: 1em;
}

.video-bg {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



header {
  font-family: "Poppins", sans-serif;
  height: 200px;
  display: grid;
  place-items: center;
  color: #f7f7ff;
  padding-top: 8vh;
}


header {
  opacity:0;
}

.slide-effect {
  overflow: hidden;
}

header {
  top: 60px;
  animation: header ease 1.2s forwards .2s;
}

@keyframes header {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}






img {
  width: 96%;
  margin-top: 11px;
}


button {
  width: 55%;
  margin-bottom: 50px;
  position: relative;
}


button {
  position: relative;
  opacity:0;
  display: inline-block;
}

.slide-effect {
  position: relative;
  overflow: hidden;
}

button {
  top: 60px;
  animation: button ease 1.2s forwards .2s;
}

@keyframes button {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}


.buttons {
    text-align: center;
}


.btn-hover {
    font-family: "Poppins", sans-serif;
    width: 1500px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 283px;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}



.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}






nav {
  display: grid;
  position: relative;
  place-items: center;
  padding: 0;
  margin-right: 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 320px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 100px;
}

nav li a {
  color: white;
  text-decoration: none;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  display: inline-block;
}


nav li a {
  opacity:0;
  padding: 0;
}

.slide-effect2 {
  position: relative;
  overflow: hidden;
}

nav li a {
  top: 20px;
  animation: a ease 1.2s forwards 1.0s;
}

@keyframes a {
  0% {transform: translateY(0);}
  100% {transform: translateY(-10px);opacity:1;}
}





.cool-underline::after {
  content: ' ';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width .3s;
}


.cool-underline:hover::after {
  width: 100%;
  transition: width .3s;
}








footer {
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 7vh;
}










#glitch {
  position: relative;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
}

#glitch::before,
#glitch::after {
  background: black;
  color: #f7f7ff;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#glitch::before {
  left: 4px;
  text-shadow: -3px 0 #ff2e00;
  animation: glitch-anim 4s infinite linear alternate-reverse;
}

#glitch::after {
  left: -4px;
  text-shadow: 3px 0 #3454d1;
  animation: glitch-anim-2 4s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip-path: inset(38% 0 46% 0);
  }
  5% {
    clip-path: inset(13% 0 88% 0);
  }
  10% {
    clip-path: inset(89% 0 3% 0);
  }
  15% {
    clip-path: inset(9% 0 16% 0);
  }
  20% {
    clip-path: inset(33% 0 23% 0);
  }
  25% {
    clip-path: inset(80% 0 21% 0);
  }
  30% {
    clip-path: inset(21% 0 59% 0);
  }
  35% {
    clip-path: inset(96% 0 3% 0);
  }
  40% {
    clip-path: inset(9% 0 74% 0);
  }
  45% {
    clip-path: inset(28% 0 67% 0);
  }
  50% {
    clip-path: inset(93% 0 2% 0);
  }
  55% {
    clip-path: inset(54% 0 25% 0);
  }
  60% {
    clip-path: inset(45% 0 24% 0);
  }
  65% {
    clip-path: inset(32% 0 42% 0);
  }
  70% {
    clip-path: inset(99% 0 1% 0);
  }
  75% {
    clip-path: inset(92% 0 1% 0);
  }
  80% {
    clip-path: inset(16% 0 12% 0);
  }
  85% {
    clip-path: inset(67% 0 32% 0);
  }
  90% {
    clip-path: inset(3% 0 98% 0);
  }
  95% {
    clip-path: inset(61% 0 33% 0);
  }
  100% {
    clip-path: inset(49% 0 15% 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(95% 0 5% 0);
  }
  5% {
    clip-path: inset(4% 0 10% 0);
  }
  10% {
    clip-path: inset(97% 0 4% 0);
  }
  15% {
    clip-path: inset(38% 0 1% 0);
  }
  20% {
    clip-path: inset(1% 0 42% 0);
  }
  25% {
    clip-path: inset(63% 0 4% 0);
  }
  30% {
    clip-path: inset(64% 0 2% 0);
  }
  35% {
    clip-path: inset(83% 0 3% 0);
  }
  40% {
    clip-path: inset(37% 0 15% 0);
  }
  45% {
    clip-path: inset(12% 0 65% 0);
  }
  50% {
    clip-path: inset(75% 0 19% 0);
  }
  55% {
    clip-path: inset(77% 0 12% 0);
  }
  60% {
    clip-path: inset(13% 0 35% 0);
  }
  65% {
    clip-path: inset(38% 0 7% 0);
  }
  70% {
    clip-path: inset(51% 0 21% 0);
  }
  75% {
    clip-path: inset(42% 0 55% 0);
  }
  80% {
    clip-path: inset(89% 0 2% 0);
  }
  85% {
    clip-path: inset(32% 0 5% 0);
  }
  90% {
    clip-path: inset(37% 0 10% 0);
  }
  95% {
    clip-path: inset(56% 0 32% 0);
  }
  100% {
    clip-path: inset(36% 0 25% 0);
  }
}
